<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is my first Ruby on Rails webpage</p>
  <hr class="my-4">
  <p>Super cool eh?</p>
  <%= link_to "Learn More About Me", home_about_path, class: "btn btn-success btn-lg" %>
</div>